<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-item lines="none">
      <ion-label style="font-weight: 900; font-size: 2.8em;">
        Today
        <p style="font-weight: 500;">{{presentDay | date:'fullDate'}}</p>
      </ion-label>
    </ion-item>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

  <ion-searchbar [formControl]="searchField" debounce="100" placeholder="Search for a task..."></ion-searchbar>
  <ion-card class="cat-container" *ngFor="let cat of cats">
    <ion-card-header>
      <ion-card-subtitle>
        {{cat}}
      </ion-card-subtitle>
    </ion-card-header>
    <div *ngIf="todoItems">
      <ion-card *ngFor="let item of todoItems[cat]">
        <ion-card-header>
          <ion-card-subtitle>
          </ion-card-subtitle>
          <ion-item>
            <!-- <ion-icon size="small" name="document-text-outline"></ion-icon> -->
            <ion-icon size="small" name="flag-outline" [style.color]="item.priority === 'high' ? 'red' : (item.priority === 'low' ? 'green' : 'orange')"></ion-icon>
            <ion-label>{{item.name}}</ion-label>
          </ion-item>
        </ion-card-header>
        <ion-card-content>
          <ion-row>
            <ion-item>
              {{item.detail}}
            </ion-item>
          </ion-row>
            <ion-item>
              <ion-label class="due-label" text-wrap *ngIf="item.daysUntilDue <= 0" style="color:white; background-color:rgb(246, 5, 13)">Item is overdue by {{item.daysUntilDueFormatted}}</ion-label>
              <ion-label class="due-label" text-wrap *ngIf="item.daysUntilDue <= 3 && item.daysUntilDue > 0" style="color:white; background-color:rgb(255, 123, 0)">
                <ion-row>Due on: {{item.dueDate| date: 'fullDate'}}</ion-row>
                {{item.daysUntilDueFormatted}} remain
              </ion-label>
              <ion-label class="due-label" text-wrap *ngIf="item.daysUntilDue > 3" style="color:white; background-color:rgb(8, 99, 36)">
                <ion-row>Due on: {{item.dueDate | date: 'fullDate'}}</ion-row>
                {{item.daysUntilDueFormatted}} remain
              </ion-label>
            </ion-item>
          <ion-row>
          </ion-row>
        </ion-card-content>
        <ion-row>
          <ion-item button (click)="addNewTask(item)">
            <ion-icon name="create-outline"></ion-icon>
            <p>Update</p>
          </ion-item>
          <ion-item button (click)="remove(item.id)">
            <ion-icon name="trash"></ion-icon>
            <p>Remove</p>
          </ion-item>
        </ion-row>
      </ion-card>
    </div>
  </ion-card>

  <ion-fab vertical="bottom" horizontal="end" slot="fixed">
    <ion-fab-button (click)="addNewTask({})">
      <ion-icon name="add"></ion-icon>
    </ion-fab-button>
  </ion-fab>
</ion-content>
